extends ../includes/layout

block main-content
  .navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand(href="/") BUILD - WIE
          h6 -BUILD - Wireframe Identification Engine
      .navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a(href="/") Home
          li
            a(href="/public") Public Pages
          li
            a(href="/pages") Your Pages
          li
            a(href="/contribute/upload") Contribute
          li
            a(href="/process") Identify
        div(ng-include="'/partials/account/navbar-login'")

  section.content
    div(ng-view)

  footer.container.text-center
    p &copy; 2016 BUILD - Wireframe Identification Engine - Subhasis Dutta.