div(ng-controller="sdNavBarLoginCtrl")
  form.navbar-form(ng-hide="identity.isAuthenticated()")
    .form-group
      input.form-control(placeholder="Email", ng-model="username")
    .form-group
      input.form-control(type="password", placeholder="Password", ng-model="password")
    a.btn.navbar-btn.navbar-btn-signin(ng-click="signin(username, password)") Sign In
    a.btn.navbar-btn.btn-primary(href="/signup") Sign Up
  ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
    li.dropdown
      a.dropdown-toggle.navbar-profile(href="", data-toggle="dropdown")
        | {{identity.currentUser.firstName + " " + identity.currentUser.lastName}}
        b.caret
      ul.dropdown-menu
        li(ng-show="identity.currentUser.isAdmin()")
          a(href="/admin/users") User Admin
        li
          a(href="/profile") Profile
        li
          a(href="", ng-click="signout()") Sign Out
