.container.top-padding-med
    .div
        .proto-div
            h1 Public Prototypes
    .div.top-padding-lg
        .pull-right.bottom-padding-lg
            form.form-inline
                .form-group
                    input.form-control(ng-model="searchText", placeholder="Filter")
                .form-group.margin-left-med
                    select.form-control(ng-model="sortOrder", ng-options="item.value as item.text for item in sortOptions")
        .div.top-padding-lg
            table.table.table-hover.table-striped.table-condensed
                thead
                    tr
                        th Wireframe
                        th Title
                        th Upload Date
                        th Width
                        th Height
                        th No of Controls
                        th User Email
                tbody
                    tr(ng-repeat="data in publicWireframes.docs | filter:searchText | orderBy:sortOrder")
                        td
                            img.model-image-box(ng-src='/api/page/image/{{data.wireframeImageId}}?ts=50')
                        td
                            a(href='/pagedetail/{{data._id}}') {{data.title}}
                        td {{data.uploaded_on | date}}
                        td {{data.wireframe_width}} px
                        td {{data.wireframe_height}} px
                        td {{data.controls.length}}
                        td {{data.username}}
        ul.pagination-sm(uib-pagination, total-items='publicWireframes.total',
        max-size='maxSize', ng-model='publicWireframes.page', num-pages='numPages', items-per-page='perPage'
        boundary-link-numbers='true', force-ellipses='true', rotate='false', ng-change='pageChanged()')
        pre Page : {{publicWireframes.page}} / {{numPages}}