.container
    .row.upload-section.tile
        .col-md-1
            h1.section-number 4
        .col-md-4
            .row.tile-row
                h2.tile-title Identify
            .row.tile-row
                h4.tile-text Identify controls in the wireframe
        .col-md-3
            .crop-model-box
                div(ng-show='cropper.croppedImage!=null')
                    img(ng-src='{{cropper.croppedImage}}', width='175px', height='175px')
        .cold-md-3
            h5 Crop data
            p Position: ({{bounds.left}}, {{wireframeMetadata.wireframe_height - bounds.top}})
            p Width : {{findSize(bounds.left, bounds.right)}} px
            p Height : {{findSize(bounds.top, bounds.bottom)}} px
            button.btn.btn-primary.upload-ctrl-btn(ng-click="cropSelectedImage(cropper.croppedImage, bounds, wireframeMetadata.wireframe_height)") Save Control
        .col-md-12
            div#canvas-annotate-box
                canvas#canvas-annotate(width='1024', height='1024', image-cropper='',
                image='cropper.sourceImage', cropped-image='cropper.croppedImage',
                crop-width='findSize(bounds.left, bounds.right)', crop-height='findSize(bounds.top, bounds.bottom)',
                min-width='10', min-height='10',
                keep-aspect='false', crop-area-bounds='bounds')
    .row
        .col-md-10.col-md-offset-1.upload-separator
    .row.upload-section.tile
        .col-md-12
            table.table.table-hover.table-striped.table-condensed
                thead
                    tr
                        th Control
                        //th Upload Date
                        th Width
                        td Height
                        th Position
                        //th Status
                        //th Actual Lavel
                        //th Actual Text
                        //th Predicted Lable
                        //th Predicted Text
                        th Remove
                tbody
                    tr(ng-repeat="data in wireframeMetadata.controls | orderBy:-uploaded_on")
                        td
                            img.model-image-box(ng-src='/api/page/image/{{data._id}}?ts=50')
                        //td {{data.uploaded_on | date}}
                        td Width: {{data.object_width}}
                        td Height: {{data.object_height}}
                        td ({{data.image_dimention.top_left_x}}, {{data.image_dimention.top_left_y}})
                        //td {{data.status}}
                        //td {{data.actual_label}}
                        //td {{data.actual_text}}
                        //td(ng-hide='data.googleAvailable')
                        //    button.btn.btn-primary(ng-click="analyzeGoogleVision(data._id)") Get Text
                        //td(ng-show='data.googleAvailable')
                        //    a(href='/api/getGoogleVisionResponse/{{data._id}}',target='_blank') JSON Response
                        //    br
                        //    | Text - {{data.prediction_text_google}}
                        //td(ng-hide='data.ibmWatsonAvailable')
                        //    button.btn.btn-primary(ng-click="analyzeIBMWatson(data._id)") Get Label
                        //td(ng-show='data.ibmWatsonAvailable')
                        //    a(href='/api/getIBMWatsonResponse/{{data._id}}',target='_blank') JSON Response
                        //    br
                        //    | Label - {{data.prediction_label_ibm}}
                        td
                            button.btn.btn-primary(ng-click="deleteControl(data._id)") X
    .row.upload-section
        .col-md-11
            button.btn.btn-create(ng-click="analyzeAllControls()") Create Preview