//
   Created by subhasis on 11/1/16.
.container
    .row
        .col-md-10
            h2 Wireframe - {{wireframeMetadata.title}}
            h3 Step 2 - Mark all the Controls to be identified in the Wireframe.
    .row
        form.form-horizontal.row(name="modelDataUpload")
            .col-md-6
                div
                    h5 Cropped Image Dimention
                    | Width : {{findSize(bounds.left, bounds.right)}} px &nbsp;
                    | Height : {{findSize(bounds.top, bounds.bottom)}} px
                button.btn.btn-primary.home-button(ng-click="uploadCropedImage(cropper.croppedImage," +
                " findSize(bounds.left, bounds.right), findSize(bounds.top, bounds.bottom))") Upload
    .row
        .col-md-12
            div
                canvas#canvas(width='1024', height='1024', image-cropper='',
                image='cropper.sourceImage', cropped-image='cropper.croppedImage',
                crop-width='200', crop-height='200',
                min-width='10', min-height='10',
                keep-aspect='false')




