canvas#canvas-annotate(width='1024', height='1024', image-cropper='',
image='cropper.sourceImage', cropped-image='cropper.croppedImage',
crop-width='200', crop-height='200',
min-width='10', min-height='10',
keep-aspect='false')

