//Created by rithvik on 12/3/16.
.container(class='preview-canvas-wrapper')
    .row
        .col-md-12
            h1 Preview
    .row
        .col-md-12
            div#previewCanvas(class='preview-canvas')