.container
  .jumbotron
    h1 Wireframe Identification Engine
    p
      | Welcome to WIE! This tool is a concept demonstrator to semi-autonomously convert a wireframe design image
      | to user interface code. By identifying the different user interface controls using various machine learning techniques
      | and converting them to usable metadata which can be used on platform like
      strong
        a(href='//build.me' target='_blank')  SAP's BUILD
      |  to generate freestyle prototype.
      | Using this app a user can build training models by collecting data and constantly improve the
      | classifier through reinforcement learning.
    strong
      ul
        li
          a(href='/public') Check out the Public Pages in which the position of the controls have been identified
        li
          a(href='/contribute/list') Analyze an image to identify the type/label and text written.
        li
          a(href='/contribute/upload') Upload wireframe and label controls for training data curation.
          |  &nbsp;(Requires Login)
        li
          a(href='/modellist') Download image data sets for building training models.
          | &nbsp;(Requires Login)
        li
          a(href='/process/upload') Upload an image and mark the controls you want to extract and identify.
          | &nbsp;(Requires Login)
        li
          a(href='//github.com/SubhasisDutta/WireframeTagging' target='_blank') GITHUB : github.com/SubhasisDutta/WireframeTagging