.container
  .jumbotron
    p Imagine a world where anyone could build beautiful apps with the push of a button...
  .row
    a.col-md-3.tile(href='/process/upload')
      .tile-row
        img.tile-img(src='../../../assets/convert2.png')
      .row.tile-row
        h2.tile-title Convert
      .row.tile-row
        p.tile-text Convert a paper prototype to a high fidelity prototype
    a.col-md-3.tile(href='/contribute/upload')
      .tile-row
        img.tile-img(src='../../../assets/train.png')
      .row.tile-row
        h2.tile-title Train
      .row.tile-row
        p.tile-text Use machine learning to help improve accuracy
    a.col-md-3.tile(href='/pages')
      .tile-row
        img.tile-img(src='../../../assets/prototypes.png')
      .row.tile-row
        h2.tile-title Prototypes
      .row.tile-row
        p.tile-text View the prototypes you have contributed
    a.col-md-3.tile(href='/pages')
      .tile-row
        img.tile-img(src='../../../assets/public.png')
      .row.tile-row
        h2.tile-title Public
      .row.tile-row
        p.tile-text View the public prototypes contributed by others
    a.col-md-3.tile(href='//github.com/SubhasisDutta/WireframeTagging' target='_blank')
      .tile-row
        img.tile-img(src='../../../assets/github.png')
      .row.tile-row
        h2.tile-title Github
      .row.tile-row
        p.tile-text Check out some of the project documentation