.container.top-padding-med
    .pull-left
        a.btn.btn-primary(href='/contribute/upload') Upload
        br
        a.btn.btn-primary(href='/modellist') Go To Data Download List
    .pull-right
        form.form-inline
            .form-group
                input.form-control(ng-model="searchText", placeholder="Filter")
            .form-group.margin-left-med
                select.form-control(ng-model="sortOrder", ng-options="item.value as item.text for item in sortOptions")
        ul.pagination-sm(uib-pagination, total-items='userContributeData.total',
        max-size='maxSize', ng-model='userContributeData.page', num-pages='numPages', items-per-page='perPage'
        boundary-link-numbers='true', force-ellipses='true', rotate='false', ng-change='pageChanged()')
    table.table.table-hover.table-striped.table-condensed
        thead
            tr
                th Control
                th Upload Date
                th User
                th Actual Label
                th Actual Text
                th Analysis With Google Vision
        tbody
            tr(ng-repeat="data in userContributeData.docs | filter:searchText | orderBy:sortOrder")
                td
                    img.model-image-box(ng-src='/api/page/image/{{data._id}}?ts=50')
                td {{data.uploaded_on | date}}
                td {{data.username}}
                td {{data.actual_label}}
                td {{data.actual_text}}
                td(ng-hide='data.googleAvailable')
                    button.btn.btn-primary(ng-click="analyzeGoogleVision(data._id)") Analyse
                td(ng-show='data.googleAvailable')
                    a(href='/api/getGoogleVisionResponse/{{data._id}}',target='_blank') JSON Response
                    br
                    | Text - {{data.prediction_text_google}}
                    br
                    | Label - {{data.prediction_label_google}}

                td
                    button.btn.btn-primary(ng-click="deleteControl(data._id)") X
    pre Page : {{userContributeData.page}} / {{numPages}}