doctype
html
  head
    title BUILD - WIE
    link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
    link(rel="stylesheet", href="/css/bootstrap.css")
    link(rel="stylesheet", href="/vendor/angular-material/angular-material.css")
    link(rel="stylesheet", href="/vendor/angular-material-icons/angular-material-icons.css")
    link(rel="stylesheet", href="/vendor/toastr/toastr.css")
    link(rel="stylesheet", href="/css/site.css")
    base(href="/")
  body(ng-app='app' layout="row" ng-cloak)
    include currentUser
    block main-content
    include scripts