script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript", src="/vendor/toastr/toastr.js")
script(type="text/javascript", src="/vendor/angular/angular.js")
script(type="text/javascript", src="/vendor/angular-animate/angular-animate.js")
script(type="text/javascript", src="/vendor/angular-aria/angular-aria.js")
script(type="text/javascript", src="/vendor/angular-material/angular-material.js")
script(type="text/javascript", src="/vendor/angular-messages/angular-messages.js")
script(type="text/javascript", src="/vendor/angular-material-icons/angular-material-icons.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.js")

script(type="text/javascript", src="/vendor/ng-file-upload/ng-file-upload-shim.min.js")
script(type="text/javascript", src="/vendor/ng-file-upload/ng-file-upload.min.js")

script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/main/sdMainCtrl.js")

script(type="text/javascript", src="/app/account/sdNavBarLoginCtrl.js")
script(type="text/javascript", src="/app/account/sdIdentity.js")
script(type="text/javascript", src="/app/common/sdNotifier.js")
script(type="text/javascript", src="/app/account/sdAuth.js")
script(type="text/javascript", src="/app/account/sdUser.js")
script(type="text/javascript", src="/app/account/sdSignupCtrl.js")
script(type="text/javascript", src="/app/account/sdProfileCtrl.js")
script(type="text/javascript", src="/app/admin/sdUserListCtrl.js")

script(type="text/javascript", src="/app/pages/sdPublicPagesListCtrl.js")
script(type="text/javascript", src="/app/pages/sdUserPagesListCtrl.js")
script(type="text/javascript", src="/app/pages/sdPageDetailCtrl.js")

script(type="text/javascript", src="/app/train/sdContributeImageUploadCtrl.js")
script(type="text/javascript", src="/app/train/sdContributeImageLabelCtrl.js")
script(type="text/javascript", src="/app/train/sdModelListCtrl.js")
script(type="text/javascript", src="/app/train/sdRebuildCtrl.js")

script(type="text/javascript", src="/app/process/sdProcessUploadCtrl.js")
script(type="text/javascript", src="/app/process/sdProcessCropCtrl.js")
script(type="text/javascript", src="/app/process/sdProcessIdentifyCtrl.js")
script(type="text/javascript", src="/app/process/sdProcessAnnotateCtrl.js")